@font-face {
  font-family: 'MW Font';
  src: local('MW Font'), url(./fonts/mwfont.ttf) format('truetype');
}

body {
  text-align: center;
  background-image: url(img/warzone2light.jpg);
  background-position: center top;
  font-family: sans-serif;
}

img {
  max-width: 92%;
  height: auto;
  margin-top: 2%;
}

h1 {
  font-family: 'MW Font';
  font-size: larger;
  color: rgb(71, 71, 71);
  margin-top: 6px;
  text-shadow: 0px 0px 10px #ffffffa6;
}

ul {
  list-style-position: inside;
}

.generate_loadout {
  font-family: 'MW Font';
  color: rgb(71, 71, 71);
}

@media (min-width: 600px) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
  body {
  text-align: center;
  background-image: url(img/warzone2light.jpg);
  background-position: relative;
  }

  h1 {
  font-size: 40px
  }

}